name: .NET Core

on:
  push:
    branches: [ dev ]
    paths: 
    - 'NextToMeAPI/**'
  pull_request:
    branches: [ dev ]
    paths: 
    - 'NextToMeAPI/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore
      working-directory: NextToMeAPI
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: NextToMeAPI
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      env: 
        Github: GitHub
      working-directory: NextToMeAPI
